.loader_wrapper{
    position: absolute;
    height: 100vh;
    top: 0;
    /* background: #ffffffdc; */
    background: #ffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}