nav{
    background: #171c26;
    color: #ffff;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
nav ul li{
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav ul li img{
   height: 50px;
}

nav ul li .inactive_link{
    text-decoration: none;
    color: #ffff;
    font-size: 13px;
}

nav ul li .active_link{
    text-decoration: none;
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
    /* text-decoration: underline; */
    border-bottom: 3px solid #ffff;
}

nav ul li:hover{
    font-weight: 700;
    transition:  ease;
}